body{
    width: 800px;
    margin:0 auto;
}

section{
    padding: 10px 0px 10px 0px;
}

.title{
    background-color: #dddddd;
    padding: 6px 0px 6px 24px;
}

.contents-item{
    overflow: hidden;
    margin-bottom: 10px;
}

.contents-item h4{
    margin:10px;
}

.contents-photo{
    float: left;
}

img.another_teacher{
    width: 400px;
    margin-right: 10px;
}

img.smile_jumper{
    width: 400px;
    margin-right: 10px;
}

.noimage{
    position:relative;
    width: 400px;
    height: 266px;
    margin-right: 10px;
    border: medium solid #dddddd;
}

.noimage p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.footer{
    background-color: #e0e0e0;
    height: 180px;
    text-align: center;
}
